.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.563rem;
}

.label {
  color: var(--Deep-Violet, #21092f);
  /* font-feature-settings: "clig" off, "liga" off; */
  font-size: var(--fs-12px);
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.input {
  color: var(--Deep-Violet, #21092f);
  /* font-feature-settings: "clig" off, "liga" off; */
  font-size: var(--fs-18px);
  font-style: normal;
  line-height: normal;
  padding-block: 0.688rem;
  padding-inline: 1rem;
  border: 1px solid var(--Light-Grey, #dfdee0);
  border-radius: 0.5rem;
  outline: transparent;
}
